<form action="/users/create" method="POST">

    <label for="usertittle">tittle</label>
    <input type="text" name="usertittle">
    <br>


    <label for="userdescription">description</label>
    <input type="text" name="userdescription">
   


    <button>Submit</button>
    
</form>